/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

/* Estilo para o container principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título no cabeçalho */
header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para a seção do formulário de entrada */
.input-form {
    text-align: center;
    margin-bottom: 20px;
}

.input-form input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input-form input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

.input-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.input-form input[type="submit"]:hover {
    background-color: #0056b3;
}

